server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/local-db;MODE=MySQL #jdbc:mysql://${MYSQL_URL}
    username: sa #${MYSQL_USERNAME}
    password: #${MYSQL_PASSWORD}
    driver-class-name: org.h2.Driver #com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    baseline-on-migrate: true
    url: jdbc:h2:tcp://localhost/~/local-db;MODE=MySQL #jdbc:mysql://${MYSQL_URL}
    user: sa #${MYSQL_USERNAME}
    password: #${MYSQL_PASSWORD}
    locations: classpath:db/migration

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update  #create-drop
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  output:
    ansi.enabled: always

jwt:
  access-exp: 604800000  # 7일
  refresh-exp: 2592000000  # 30일

logging:
  level:
    org.hibernate.SQL: debug
