server:
  port: 8080

spring:
  jackson:
    property-naming-strategy: SNAKE_CASE  # JSON 네이밍 전역 설정 (snake_type)

  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
    allowed-methods: ${ALLOWED_METHODS}

  datasource:
    url: jdbc:mysql://${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  flyway:
    enabled: true
    baseline-on-migrate: true
    url: jdbc:mysql://${MYSQL_URL}
    user: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    locations: classpath:db/migration

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update  #create-drop
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  output:
    ansi.enabled: always

jwt:
  secret-key: ${JWT_SECRET_KEY}
  access-exp: 9876543210
  refresh-exp: 9876543210

oauth2:
  google:
    client-id: ${GOOGLE_OAUTH2_ID}
    client-secret: ${GOOGLE_OAUTH2_SECRET}
    redirect-uri: ${GOOGLE_OAUTH2_REDIRECT_URI}
    grant-type: authorization_code

springdoc:
  swagger-ui:
    url: /docs/openapi3.yaml
    path: /swagger

logging:
  level:
    org.hibernate.SQL: debug
