server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/local-db;MODE=MySQL #jdbc:mysql://${MYSQL_URL}
    username: sa #${MYSQL_USERNAME}
    password: #${MYSQL_PASSWORD}
    driver-class-name: org.h2.Driver #com.mysql.cj.jdbc.Driver

  redis:
    host: localhost
    port: 6379
    password:

  jpa:
    hibernate:
      ddl-auto: update  #create-drop
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  output:
    ansi.enabled: always

jwt:
  exp: 2592000000  # 30Ïùº

logging:
  level:
    org.hibernate.SQL: debug
